{% comment %}
 *	- loop through all posts within current category
 *	- save any category that is a subcategory
 *	i.e. that is not current or parent category
 *	- ignore any duplicate values
{% endcomment %}
{% assign subcategories = '' | split: '' %}

{% if page.language %}
	{% assign posts = site.categories[page.tag] | where: "language", page.language %}
{% else %}
	{% assign posts = '' | split: '*' %}
	{% for post in site.categories[page.tag] %}
		{% if post.language.size == %}
			{% assign posts = posts | push:post %}
		{% endif %}
	{% endfor %}
{% endif %}

{% for post in posts %}
	{% assign use_category = false %}
	{% for post_cat in post.categories %}
		{{% post.title %}}
		{% unless use_category == false or subcategories contains post_cat %}	
			{% assign subcategories = subcategories | push: post_cat %}
		{% endunless %}
		{% if post_cat == page.tag %}
			{% assign use_category = true %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% unless subcategories.size == 0 %}
	<h3>{% include fn_gettranslation string="We have divided our work on this topic under the following categories" lang=page.language %}:</h3>
	{% for cat in subcategories %}
		<p><a href="{{cat}}">{% include fn_getcatname cat=cat %}</a></p>
	{% endfor %}
{% endunless %}