{% if page.language %}
	{% assign posts = site.categories[page.tag] | where: "language", page.language %}
{% else %}
	{% assign posts = '' | split: '*' %}
	{% for post in site.categories[page.tag] %}
		{% if post.language.size == %}
			{% assign posts = posts | push:post %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if posts.size > 0 %}
	<div class="posts">
    {% include posts_filter.html posts=posts %}

    {% assign posts_sorted = posts %}
    {% assign posts_sorted = (posts_sorted | sort: 'update') | reverse %}

    {% for post in posts_sorted %}

      {% if post.status %}
        {% assign post_status = post.status %}
      {% else %}
        {% assign post_status = 'in-progress' %}
      {% endif %}
      <article class="status_{{post_status}} {%for post_cat in post.categories%}category_{{post_cat}} {%endfor%}">
        <header>
          <dl class="meta-information">
            <dt>Type</dt>
            <dd class="status {{post.status}}">{% include fn_gettranslation string=post_status lang=page.language %}</dd>
          </dl>
          <div class="title-and-dates" >
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <dl class="publishing-dates">
              <dt>{% include fn_gettranslation string='First online' lang=page.language %}</dt>
              <dd>{{post.date | date: "%d-%m-%Y"}}</dd>
              {% if post.update %}
                <dt>{% include fn_gettranslation string="Last update" lang=page.language %}</dt>
                <dd>{{post.update | date: "%d-%m-%Y"}}</dd>
              {% endif %}
            </dl>
          </div>
        </header>
        <div class="content">
          <p>{{post.description}}</p>
          <p class="read-more"><a href="{{post.url}}">{% include fn_gettranslation string="Read more" lang=page.language %}</a></p>
        </div>
      </article>
    {% endfor %}

    <div class="no-articles" style="display:none;">{% include fn_gettranslation string="No articles match the current filter" lang=page.language %}.</div>
	</div>
{% else %}
	<p>{% include fn_gettranslation string="We haven't published any work on this topic yet" lang=page.language %}.</p>
{% endif %}
