<div class="cookie-consent" style="display:none">
	<div class="text">
		<div class="text-large">
			This website uses cookies to improve user experience
		</div>
		<div class="text-small">
			By using our website you consent to all cookies in accordance with our Cookie Policy
		</div>
	</div>
	<div class="buttons">
		<button class="cookie agree" title="I accept the use of all cookies">I agree</button>
		<button class="cookie disagree" title="I do not accept the use of cookies">I disagree</button>
		<a href="/cookies" title="Read more about our cookie policy"><button class="cookie">Read more</button></a>
	</div>
	<div class="clear"></div>
</div>