<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- if page.title -%}
			{{ page.title }}
		{%- elsif page.tag_filter -%}
      {% include fn_translate id=page.tag_filter %}
		{%- else -%}
			Centre for Mathematical Modelling of Infectious Diseases
		{%- endif -%}&nbsp;| {{ site.title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
	<!-- use bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/assets/css/styles.css" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158646461-1"></script>
	<script>
	// disable tracking by default
	window['ga-disable-UA-158646461-1'] = true;
	// initialize gtag
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	</script>
	<link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">  
	<link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">  
	<link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">
	{%- feed_meta -%}
	{%- seo -%}
	{%- if page.rmarkdown_html_fragment == true -%}
		{%- include research_post_rmarkdown_scripts_head.html -%}
	{%- endif -%}
</head>
