<header>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/assets/images/cmmid_logo_white.svg" class="logo" title="Centre for Mathematical Modelling of Infectious Diseases" /></a>
				<a class="navbar-brand text" href="/">{{ site.title }}</a>
			</div>
			{% include navigation.html %}
		</div>
	</nav>
</header>