<div class="posts">
  {% unless include.disable_filter %}
    {% include posts_filter.html posts=include.posts %}
  {% endunless %}

  {% for post in include.posts %}
    <article class="status_{{post_status}} {%for post_cat in post.categories%}category_{{post_cat}} {%endfor%}">
      <header>
        <dl class="meta-information">
          <dt>Type</dt>
          <dd class="status {{post.status}}">{% include fn_translate id=post.status %}</dd>
        </dl>
        <div class="title-and-dates" >
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <dl class="publishing-dates">
            <dt>{% include fn_translate id='first-online' %}</dt>
            <dd>{{post.date | date: "%d-%m-%Y"}}</dd>
            {% if post.update %}
              <dt>{% include fn_translate id="last-update" %}</dt>
              <dd>{{post.update | date: "%d-%m-%Y"}}</dd>
            {% endif %}
          </dl>
        </div>
      </header>
      <div class="content">
        <p>{{post.description}}</p>
        <p class="read-more"><a href="{{post.url}}">{% include fn_translate id="read-more" %}</a></p>
      </div>
    </article>
  {% endfor %}
</div>
