.filter {
  border: 1px $color_lshtm_darkgrey;
  // box-shadow: 5px 5px 5px #ddd;
}
.filter .top {
  padding: 1% 1% 1% 0;
  // background: $color_lshtm_darkgrey;
  text-align: right;
}
.posts .filter .top .row > div:nth-of-type(1) {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}
.filter .bottom .wrapper {
  padding: 1% 1% 0% 1%;
}
.filter label {
  margin-right: 2%;
}
.filter input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.filter p {
  border-bottom: 1px solid;
}
.filter p:nth-last-of-type(1) {
  border-bottom: 0;
  margin-bottom: 0;
}
#filter-options {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.filter .top button {
  border: 1px solid #555;
  padding: 5px;
	background-color: $color_lshtm_darkgrey;
}
.filter .top button:hover {
	background-color: $color_lshtm_darkgreen;
}
.filter-icon {
  background-image: url("/assets/images/filter-icon.svg");
  width: 36px;
  height: 20px;
  display: block;
  border-bottom: 0;
}
.no-articles {
  margin: 1em 0;
  padding: 5%;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
