---
layout: default
---
{% assign group_data = site.data.authors | where: "id", page.tag %}
<h1>{{group_data | map: "name"}}</h1>

{{ content }}

<p>The {{group_data | map: "name"}} consists of the following members:</p>

{% assign group_members = group_data | map: "members" | remove: '[[' | remove: ']]' | remove: '"' | remove: ' ' | split: ',' %}
<ul>
{% for author in group_members %}
		{% assign author_data = site.data.authors | where: "id", author %}
		<li>{{ author_data | map: 'name' }}</li>
{% endfor %}
</ul>