<!doctype html>
{% if page.language %}
<html lang="{{ page.language | split: '-' | first }}">
{% else %}
<html lang="{{ site.locale }}">
{% endif %}
  {% include head.html%}
  <body>
    <!-- <pre style="position: absolute; top: 10px; right: 10px; width: 400px; z-index:1000;">
         Tags: {{ page.tags | join: ', ' }}
         Tag filter: {{ page.tag_filter }}
         Categories: {{ page.categories | join: ', ' }}
         Status: {{ page.status }}
         Language: {{ page.language }}
         url: {{ page.url }}
         </pre> -->

    {% include header.html %}
    <section class="main">
      <div class="container">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
