---
layout: full_page_content
---

<div class="post-status"><span class="status {{page.status}}">{% include fn_translate id="status" %}: {% include fn_translate id=page.status %}</span> | <span class="date">{% include fn_translate id="first-online" %}: {{page.date | date: "%d-%m-%Y"}}</span> {% if page.update%} | <span class="date">{% include fn_translate id="last-update" %}: {{page.update | date: "%d-%m-%Y"}}</span>{% endif %}</div>

{% if page.authors %}
  {% include research_post_authors.html%}
{% endif %}

{% unless page.suppress_peerreviewed %}
  {% if page.status != "published" %}
    {% if page.status != "accepted" %}
      {% if page.status != "paper-published-at-journal" %}
        {% if page.status != "paper-accepted-at-journal" %}
          <p><b>{% include fn_translate id="not-peer-reviewed" %}</b></p>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endunless %}

{{ content }}
