---
layout: default
---

{% if page.tag_filter %}
{% assign page_title = page.tag_filter %}
{% else %}
{% assign page_title = page.title %}
{% endif %}

<div class="sidenav">
  <section>
    <div class="page_title">
      <h1>{% include fn_translate string=page_title %}</h1>
    </div>
  </section>

  <section>
    <div class="navigation">
      <ul class="nav nav-pills nav-stacked">
        {% assign topic_dir = page.dir | remove_first: "/" %}
        {% assign topic_home = "/" | append: topic_dir %}
        {% include nav_link url=topic_home id="home" %}

        {% assign topic_posts = site.posts | where_exp: "post", "post.path contains topic_dir" %}
        {% assign site_tags = topic_posts | where: "language", page.language | map: "tags" | join: "," | split: "," | uniq %}
        {% for tag in site_tags %}
          {% assign tag_url = topic_home | append: tag | append: ".html" %}
          {% include nav_link url=tag_url id=tag %}
        {% endfor %}

      </ul>
    </div>
    <div class="nav-content">
      {{ content }}
    </div>
  </section>
</div>
