---
layout: side_navigation
---

{% assign topic_dir = page.dir | remove_first: "/" %}
{% assign topic_posts = site.posts | where_exp: "post", "post.path contains topic_dir" %}
{% if page.tag_filter %}
  {% assign filtered_posts = topic_posts | where_exp: "post", "post.tags contains page.tag_filter" %}
{% else %}
  {% assign filtered_posts = topic_posts %}
{% endif %}

{% assign posts = filtered_posts | where: "language", page.language %}
{% if posts.size > 0 %}
{% assign posts = posts | sort: 'update' | reverse %}
{% endif %}

<div class="blog list">
  {{content}}

  {% if posts.size > 0 %}
  {% include post_list.html posts=posts %}
  {% else %}
  <p>{% include fn_translate id="no-posts" %}.</p>
  {% endif %}
</div>
